<app-section [currentItem]="currentItem" [items]="items">
  <div content>
    <h2>Корпоративные ценности</h2>
      <br>
      <p>
        <b>AXXTEL </b>- это творческий и ответственный подход&nbsp;к поставленным задачам, предлагающий максимально эффективные&nbsp;методы их реализации.
      </p>
      <h4>Наши специалисты </h4>
      <p>
        Эксперты своего дела. Эталонный профессионализм, практический опыт и тщательная теоретическая подготовка в наиболее востребованных рынком направлениях ИТ и телекоммуникаций.
      </p>
      <h4>Наши Заказчики</h4>
      <p>
        Мы очень ценим Вас, не только за то, что вы всегда в курсе последних тенденций на рынке ИТ, но и за то, что вы сами создаете новые тенденции развития информационных технологий.
      </p>
      <h4>Приоритетные направления деятельности</h4>
      <table cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <p align="center">
              <img width="114" height="149" src="assets/about-company/1.png">
            </p>
          </td>
          <td>
            Разработка и построение сетей передачи данных:
            <p>
              - Сети передачи данных для операторов связи<br>
              - Корпоративные сети передачи данных
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img width="115" height="149" src="assets/about-company/2.png">
          </td>
          <td>
            Обеспечение безопасности сетей передачи данных:
            <p>
              - &nbsp;Безопасность внешнего периметра сетей передачи данных<br>
              - &nbsp;Безопасность внутреннего периметра сетей передачи данных<br>
              - &nbsp;Системы защиты от нежелательной почты (анти-спам)<br>
              - &nbsp;Системы глубокого анализа трафика
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p align="center">
              <img width="114" height="148" src="assets/about-company/3.png">
            </p>
          </td>
          <td>
            Организация решений для удалённой совместной работы:
            <p>
              - &nbsp;Оснащение персональными системами видеоконференцсвязи<br>
              - &nbsp;Построение переговорных комнат<br>
              - &nbsp;Построение конференц-залов<br>
              - &nbsp;Построение многоточечных систем видеоконференцсвязи. MCU
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p align="center">
              <img width="115" height="147" src="assets/about-company/4.png">
            </p>
          </td>
          <td>
            Разработка и внедрение корпоративных телефонных решений:
            <p>
              - Телефонизация предприятий<br>
              - Построение call-центров<br>
              - Объединение филиалов<br>
              - Системы оптимизации затрат на связь<br>
              - Интеграция АТС и CRM систем<br>
              - Унифицированные коммуникации. UC
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p align="center">
              <img width="115" height="148" src="assets/about-company/5.png">
            </p>
          </td>
          <td>
            <br>
            Построение автоматизированных инженерных систем:
            <p>
              - &nbsp;Структурированные кабельные системы (СКС)<br>
              - &nbsp;Системы контроля и управления доступа (СКУД)<br>
              - &nbsp;Системы видеонаблюдения<br>
              - &nbsp;Системы охранно-пожарной сигнализации
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p align="center">
              <img width="115" height="148" src="assets/about-company/6.png">
            </p>
          </td>
          <td>
            Построение и модернизация ИТ-инфраструктуры:
            <p>
              - Оптимизация, реорганизация и консолидация ИТ-инфраструктуры<br>
              - Корпоративные порталы и документооборот<br>
              - Управление ИТ-инфраструктурой (мониторинг, автоматизация рутинных операций, Service Desk)<br>
              - Корпоративная почта.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p align="center">
              <img width="115" height="148" src="assets/about-company/7.png">
            </p>
          </td>
          <td>
            Обеспечение информационной безопасности:
            <p>
              -&nbsp;Защита от внутренних утечек информации<br>
              - &nbsp;Анализ и снижение репутационных рисков<br>
              - &nbsp;Антивирусные решения<br>
              - &nbsp;Разграничение и контроль прав доступа к информационной системе<br>
              - &nbsp;Организация систем многофакторной аутентификации<br>
              - &nbsp;Анализ и обеспечение сетевой безопасности.
            </p>
            <p>
            </p>
          </td>
        </tr>
        </tbody>
      </table>
      <h4><u>Главный принцип нашей работы</u> -</h4>
      <p>
        поставить информационные технологии на службу целям и задачам ключевого бизнеса и создать крепкий базис для уверенного развития и процветания наших Заказчиков.
      </p>
      Мы благодарны нашим Заказчикам за возможность воплотить их идеи в жизнь.<br>
      Работая над новыми проектами, мы стремимся сделать именно то, что Вы хотите увидеть.<br>
      Ведь все, что мы делаем, мы делаем для Вас.<br>
      <br id="null">
      Ваш Акстел.
  </div>
</app-section>
