<ngb-carousel *ngIf="items">
  <ng-template *ngFor="let item of items" ngbSlide>
    <img [src]="'assets/carousel/' + item.background" alt="Random first slide">
    <div class="item-carousel">
      <div class="row">
        <div class="col-lg-6 col-md-12 text">
            <div class="title">{{item.title}}</div>
            <div class="text-block">
              {{item.description}}
            </div>
            <div class="more-button">
              <app-button (click)="onSolution(item.routerLink)" [text]="'Узнать больше'" [reverseColor]="true"></app-button>
            </div>
        </div>
        <div class="col-lg-6 image d-none d-lg-block">
          <img [src]="'assets/carousel/' + item.src">
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
