<ngb-carousel *ngIf="items">
  <ng-template *ngFor="let item of items" ngbSlide>
    <img [src]="'assets/carousel/' + item.background" alt="Random first slide">
    <div class="item-carousel">
      <div class="row">
        <div class="col-6 text">
            <div class="title">{{item.title}}</div>
            <div class="text-block">
              {{item.description}}
            </div>
            <app-button [text]="'Узнать больше'" [reverseColor]="true"></app-button>
        </div>
        <div class="col-6 image">
          <img [src]="'assets/carousel/' + item.src">
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
