.item-carousel {
  & .text {
    color: #222222;
    padding-top: 50px;

  }
  & .title {
    font-size: 32px;
    line-height: 38px;
    padding: 0 0 9px;
    font-weight: 700;
    @media only screen and (max-width:990px){
      max-width: 75%;
      text-align: center;
    }
    @media only screen and (max-width:767px){
      line-height: 21px;
      font-size: 21px;
    }
    @media only screen and (max-width:560px){
      line-height: 21px;
      font-size: 14px;
    }

  }
  & .text-block {
    font-size: 21px;
    margin-bottom: 32px;
    line-height: 22px;
    max-width: 360px;
    @media only screen and (max-width:990px){
      max-width: 75%;
      text-align: center;
    }
    @media only screen and (max-width:767px){
      font-size: 16px;
    }
    @media only screen and (max-width:560px){
      font-size: 12px;
    }

  }
  & .more-button {
    position: absolute;
    @media only screen and (max-width:990px){
      left: 30%;
    }
    @media only screen and (max-width:767px){
      left: 28%;
    }
    @media only screen and (max-width:560px){
      left: 22%;
    }
    @media only screen and (max-width:320px){
      left: 18%;
    }
  }
}

.item-carousel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  @media only screen and (max-width:990px){
    left: 25%;
  }
  top: 15px;
}
