<div class="phone pull-right">
  <div class="phone-number">
                <span class="d-none d-md-inline">
                  <i  [class]="isSmall ? 'small fa fa-phone' : 'fa fa-phone'"></i>
                </span>
    <a href="tel:+73832553255"><span style="color: #969ba5;" [class]="isSmall ? 'small' : ''">+7 (383)</span>
      <span [class]="isSmall ? 'small' : ''">255-3-255</span>
    </a>
  </div>
  <div class="phone-desc pull-right d-none d-md-block">
    Отдел продаж<br>
  </div>
</div>
