<div class="logo_and_menu-row">
  <div class="max-width">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-6">
        <div class="logo">
          <a routerLink="">
            <img src="assets/images/logo.png" alt="ООО «Акстел-Безопасность»" title="ООО «Акстел-Безопасность»">
          </a>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-6">
        <div class="row">
          <div class="col-md-4">
            <div class="top-description d-none d-lg-block">
              Информационная безопасность<br>
              Программное обеспечение<br>
              Телефония<br>
            </div>
          </div>
          <div class="top-callback col-md-8">
            <div class="callback pull-right d-none d-md-block">
              <app-button [text]="'Заказать звонок'"></app-button>
            </div>
            <div class="phone pull-right">
              <div class="phone-number">
                <span class="d-none d-md-inline">
                  <i class="fa fa-phone"></i>
                </span>
                <a href="tel:+73832553255"><span style="color: #969ba5;">+7 (383)</span> 255-3-255</a>
              </div>
              <div class="phone-desc pull-right d-none d-md-block">
                Отдел продаж<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

