<div class="logo_and_menu-row">
  <div class="max-width">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="logo">
          <a routerLink="">
            <span>Prototype</span>
          </a>
        </div>
      </div>
      <div class="col-md-9 col-sm-6  col-12">
        <div class="row">
          <div class="col-md-4">
            <div class="top-description d-none d-lg-block">
              Информационная безопасность<br>
              Программное обеспечение<br>
              Телефония<br>
            </div>
          </div>
          <div class="top-callback col-md-8">
            <!--<button class="btn btn-responsive-nav pull-right d-md-none">-->
              <!--<i class="fa fa-bars"></i>-->
            <!--</button>-->
            <div class="callback pull-right ">
              <app-button (click)="onForm($event)" [reverseColor]="true" [text]="'Тестирование на проникновение'"></app-button>
            </div>
            <div class="d-none d-lg-block">
              <app-phone></app-phone>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-menu></app-menu>
</div>

