.top-description {
  color: #95979a;
  font-size: 12px;
  line-height: 16px;
  padding: 29px 0 0 37px;
}

.logo {
  height: 92px;
  line-height: 87px;
  position: relative;
  z-index: 10;
  & a {
    font-family: 'Courier 10 Pitch';
    color: #f5713e;
    font-weight: bold;
    font-size: 46px;
    margin-top: 20px;
  }
  @media only screen and (max-width: 767px) {
    & {
      margin-right: 20px;
      height: 65px!important;
      line-height: 57px!important;
    }
    & a {
      font-size: 24px;
    }
  }
  & img {
    max-height: 50px;
    padding-left: 10px;
    @media only screen and (max-width: 767px) {
      & {
        max-height: 39px;
        width: auto;
      }
    }
    @media only screen and (max-width: 530px) {
      & {
        max-width: 100%;
      }
    }
  }
}

.top-callback {
  padding: 30px 0 0;

  line-height: 28px;
  padding-right: 10px;
  @media only screen and (max-width: 765px) {
    & {
      margin-right: 16px;
      padding: 18px 0 0;
    }
  }
}


.pull-right {
  float: right!important;
}

a {
  text-decoration: none!important;
  outline: none!important;
}

.logo_and_menu-row {
  border-top-color: #f5713e;
  border-top-width: 2px;
  border-top-style: solid;
}

.max-width {
  margin-left: auto!important;
  margin-right: auto!important;
  max-width: 1008px;
  position: relative;
  border-bottom: 1px solid rgba(149, 151, 154, .3);
  @media only screen and(max-width: 767px) {
    border-bottom: 2px solid #f5713e;
  }
  width: 100%;
}

.btn.btn-responsive-nav {
  margin-right: 16px!important;
  top: -7px;
  &:hover {
    color: #f5713e;
    border: 1px solid #f5713e;
    background-color: #ffffff;
    padding: 4px 7px 2px;
  }
  & .fa {
    font-size: 21px;
  }
  background-color: #f5713e;
  position: relative;
  color: #FFF;
  z-index: 15;
  padding: 5px 8px 3px;
  border: medium none;
}
