.top-description {
  color: #95979a;
  font-size: 13px;
  line-height: 16px;
  padding: 29px 0 0 37px;
}

.logo {
  height: 92px;
  line-height: 87px;
  position: relative;
  z-index: 10;
  @media only screen and (max-width: 767px) {
    & {
      height: 65px!important;
      line-height: 57px!important;
    }
  }
  & img {
    max-height: 50px;
    padding-left: 10px;
    @media only screen and (max-width: 767px) {
      & {
        max-height: 39px;
        width: auto;
      }
    }
    @media only screen and (max-width: 530px) {
      & {
        max-width: 100%;
      }
    }
  }
}

.top-callback {
  padding: 30px 0 0;

  line-height: 28px;
  padding-right: 10px;
  @media only screen and (max-width: 765px) {
    & {
      margin-right: 16px;
      padding: 18px 0 0;
    }
  }
  & .phone {
    font-size: 20px;
    margin-right: 17px;
    font-weight: bold;
    & .fa {
      background-color: #f5713e;
      border-radius: 18px;
      color: #fff;
      font-size: 16px;
      margin: 0 5px;
      padding: 6px 8px;
      vertical-align: top;
    }
    & .phone-number {
      font-weight: 500;
      line-height: 21px;
      text-align: right;
      @media only screen and (max-width: 530px) {
        & {font-size: 14px;}
      }
      @media only screen and (max-width: 430px) {
        & {font-size: 11px;}
      }
      & > a {
        color: #222;
      }
    }
    & .phone-desc {
      color: #95979a;
      font-size: 11px;
      line-height: 12px;
      margin-top: -2px;
      text-align: right;
      max-width: 310px;
      margin-bottom: 18px;
    }
  }
}


.pull-right {
  float: right!important;
}

a {
  text-decoration: none!important;
  outline: none!important;
}

.logo_and_menu-row {
  border-top-color: #f5713e;
  border-top-width: 2px;
  border-top-style: solid;
}

.max-width {
  margin-left: auto!important;
  margin-right: auto!important;
  max-width: 1008px;
  position: relative;
  width: 100%;
}

.btn.btn-responsive-nav {
  margin-right: 16px!important;
  top: -7px;
  &:hover {
    color: #f5713e;
    border: 1px solid #f5713e;
    background-color: #ffffff;
    padding: 4px 7px 2px;
  }
  & .fa {
    font-size: 21px;
  }
  background-color: #f5713e;
  position: relative;
  color: #FFF;
  z-index: 15;
  padding: 5px 8px 3px;
  border: medium none;
}
