<app-section [currentItem]="currentItem" [items]="items">
  <div content>
    <div class="detail-image">
      <img src="assets/asutp/1.jpg">
    </div>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      Обеспечение защиты персональных данных
    </p>
    <p style="text-align: justify;" class="text-lg">
      Нашей компанией наработан богатый опыт построения систем защите персональный данных для крупный государственных компаний и распределённых холдинговых, коммерческих структур. Наши специалисты проводят полный цикл работ по направлению от аудита до внедрения системы защиты и технической поддержки. Ключевой особенностью наших проектов является бессрочная гарантия на разработанную документацию.
    </p>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      В рамках построения проектов по защите КСИИ и АСУТП мы руководствуемся следующими принципами
    </p>
    <p style="text-align: justify;" class="text-lg">
      Работы должны быть проведены в соответствии с требованиями и рекомендациями следующих документов:
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">Приказ ФСТЭК России от 14.03.2014 N 31 "Об утверждении Требований к обеспечению защиты информации в автоматизированных системах управления производственными и технологическими процессами на критически важных объектах, потенциально опасных объектах, а также объектах, представляющих повышенную опасность для жизни и здоровья людей и для окружающей природной среды";</li>
      <li style="text-align: justify;" class="text-lg">
        Общие требования по обеспечению безопасности в ключевых системах информационной инфраструктуры.
      </li>
    </ul>
    <p style="text-align: justify;" class="text-lg">
      При проведении должны учитывается следующие рекомендации
    </p>
    <p style="text-align: justify;" class="text-lg">
      Информационное сообщение ФСТЭК по вопросам обеспечения безопасности информации в ключевых системах информационной инфраструктуры в связи с изданием приказа ФСТЭК России от 14 марта 2014 г. №31 «Об утверждении Требований к обеспечению защиты информации в автоматизированных системах управления производственными и технологическими процессами на критически важных объектах, потенциально опасных объектах, а также объектах, представляющих повышенную опасность для жизни и здоровья людей и для окружающей природной среды» от 25 июля 2014 г. N 240/22/2748.
    </p>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      ЗАДАЧИ ПРОЕКТА
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Провести анализ защищенности и выявить основные внешние и внутренние угрозы безопасности АСУ ТП;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Определить необходимость защиты конфиденциальности информации для проекта по защите АСУ ТП в целом;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Собрать необходимые сведения и провести проектирование системы защиты;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Провести согласование технического проекта на систему защиты со ФСТЭК России;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Составить сметную документацию на работы по построению системы защиты.
      </li>
    </ul>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      ОЖИДАЕМЫЕ ВЫГОДЫ
    </p>
    <p style="text-align: justify;" class="text-lg">
      В результате внедрения проекта по комплексной защите информации в информационной системе Красноярский жилищно-коммунальный комплекс», должны быть исключены (снижены) риски, связанные с:
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Приостановлением деятельности, связанным с выходим из строя АСУ ТП;      </li>
      <li style="text-align: justify;" class="text-lg">
        Потерей репутации, административными и уголовными рисками в результате модификации, уничтожения и недоступности информации в АСУ ТП;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Нарушением законодательства в области КСИИ и АСУ ТП;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Обеспечение защиты ГИС и МИС, проверка корректности встраивания ЕСИА.      </li>
      <li style="text-align: justify;" class="text-lg">
        Нами проведено большое количество специализированных проектов по информационной безопасности для Правительств областей, министерств и администраций городов в СФО и ДФО.
      </li>
    </ul>
    <p style="text-align: justify;" class="text-lg">
      Основным критериям выбора нас как поставщика данных решений является высокотехнологичный подход, нестандартность проектируемых решений в сочетании с гарантированным закрытием требований законодательства выраженных в гарантийных обязательствах.
    </p>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      Обеспечение защиты ГИС и МИС
    </p>
    <p style="text-align: justify;" class="text-lg">
      Нами проведено большое количество специализированных проектов по информационной безопасности для Правительств областей, министерств и администраций городов в СФО и ДФО.    </p>
    <p style="text-align: justify;" class="text-lg">
      Основным критериям выбора нас как поставщика данных решений является высокотехнологичный подход, нестандартность проектируемых решений в сочетании с гарантированным закрытием требований законодательства выраженных в гарантийных обязательствах.    </p>
  <app-consultation-block></app-consultation-block>
  </div>
</app-section>
