<app-section [currentItem]="currentItem" [items]="items">
  <div content>
    <div class="detail-image">
      <img src="assets/security/1.jpg">
    </div>
    <p style="text-align: justify;" class="text-lg text-italic">
      Думаете, как обезопасить свое предприятие от целенаправленных кибератак?    </p>
    <p style="text-align: justify;" class="text-lg text-italic">
      Не можете блокировать анонимайзеры сотрудников обычным межсетевым экраном?    </p>
    <p style="text-align: justify;" class="text-lg text-italic">
      Хотите построить комплексную защиту сетевого периметра?    </p>
    <div class="row">
      <div class="col-md-4">
        <div class="stat-item">
          <img src="assets/security/2.png">
        </div>
      </div>
      <div class="col-md-4">
        <div class="stat-item">
          <img src="assets/security/3.png">
        </div>
      </div>
      <div class="col-md-4">
        <div class="stat-item">
          <img src="assets/security/4.png">
        </div>
      </div>
    </div>
    <p style="text-align: justify;" class="text-lg">
      Более 74% специалистов по безопасности уверены, что их средства чрезвычайно эффективно блокируют известные угрозы безопасности, однако специалистам Prototype в 98% случаев удается найти уязвимости во внешнем или внутреннем периметре сети организации. Эффективная защита сети предприятия возможна только при использовании комплексного подхода к обеспечению безопасности.    </p>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      УГРОЗЫ
    </p>
    <p style="text-align: justify;" class="text-lg">
      Выстроить защиту предприятия от киберугроз – одна из самых актуальных задач. Ежедневно вашим сотрудникам необходимо безопасно подключаться к интернету через роутер, с компьютера, ноутбука, смартфона и планшета, через любую доступную проводную и беспроводную сеть и не бояться, что злоумышленники перехватят конфиденциальные данные ваших клиентов, пароли, коммерческую тайну или ещё как-то навредят вашей компании.
    </p>
    <p style="text-align: justify;" class="text-lg">
      Нередко сами сотрудники подвергают вашу организацию опасности, используя Tor, VPN-сервисы, анонимайзеры для того, чтобы обеспечить себе доступ к мессенджерам и социальным сетям. Переход по небезопасным ссылкам может стать причиной заражения рабочего компьютера сотрудника вредоносным программным обеспечением с дальнейшим его распространением по корпоративной сети.    </p>
    <p style="text-align: justify;" class="text-lg">
      Одна из главных тенденций последних лет - распространение так называемых целевых атак. Для них характерен взлом и обход защиты жертвы с более глубоким проникновением в информационную систему. Как правило, массовая атака нацелена против индивидуальных пользователей Интернет, в то время как целевая - против корпоративных сетей. Среди целевых атак ярко выделяются атаки APT (Advanced Persistent Threat) - это продвинутый вариант целевой атаки, когда используются 0-day уязвимости, тем самым пробивая защиту сети предприятия.
    </p>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      РЕШЕНИЕ
    </p>
    <p style="text-align: justify;" class="text-lg">
      Компания Prototype внедряет решения на основе UTM-устройств производителя Fortinet, а также другие решения-аналоги в области сетевой безопасности. Эти решения представляют собой программно-аппаратные комплексы, которые удовлетворяют требованиям предприятий любых размеров и включают следующие средства защиты:    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Контроль сетевого траффика приложений с помощью NGFW (Next Generation Firewall, межсетевой экран нового поколения);      </li>
      <li style="text-align: justify;" class="text-lg">
        Защиту от сетевых угроз;      </li>
      <li style="text-align: justify;" class="text-lg">
        Контроль посещения Интернета пользователями;      </li>
      <li style="text-align: justify;" class="text-lg">
        Защиту от угроз нулевого дня;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Межсетевое экранирование;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Систему обнаружения вторжений.
      </li>
    </ul>
    <app-consultation-block></app-consultation-block>
  </div>
</app-section>
