<app-section [currentItem]="currentItem" [items]="items">
  <div content>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      Что такое SAM?
    </p>
    <p style="text-align: justify;" class="text-lg">
      Определение “SAM”: это набор бизнес-практик, включающих управление и оптимизацию закупок, внедрения, поддержки, использования и вывода из эксплуатации программных приложений внутри организации.
    </p>
    <p style="text-align: justify;" class="text-lg">
      SAM – международный отраслевой стандарт. ISO/IEC 19770-1 поддерживается Microsoft и многими другими компаниями.
    </p>
    <p style="text-align: justify;" class="text-lg">
      SAM проект поможет:
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Разобраться в текущем использовании и лицензировании продуктов Майкрософт
      </li>
      <li style="text-align: justify;" class="text-lg">
        Оптимизировать текущее использование ПО
      </li>
      <li style="text-align: justify;" class="text-lg">
        Получить все выгоды корпоративного лицензирования
      </li>
      <li style="text-align: justify;" class="text-lg">
        Обеспечить долгосрочное лицензионное соответствие
      </li>
      <li style="text-align: justify;" class="text-lg">
        Получить информацию для принятия решения о развитии ИТ
      </li>
      <li style="text-align: justify;" class="text-lg">
        Соответствовать Российским и мировым стандартам
      </li>
    </ul>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      Увеличение пользы от SAM
    </p>
    <p style="text-align: justify;" class="text-lg">
      Каждый проект несет пользу. При проведении любого из проектов собирается большое количество данных, на основании которых могут быть сделаны ценные выводы. Используя эти данные, есть возможность понять ключевые задачи и выявить области для совместного бизнеса.
    </p>
    <div class="detail-image">
      <img src="assets/sam/1.gif">
    </div>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      Как выглядит проект SAM
    </p>
    <p style="text-align: justify;" class="text-lg">
      Ход каждого проекта разбивается на этапы. Выполнение этапов в данной последовательности и в полном объеме в соответствии с требованиями программы позволяет сделать заключительные документы максимально полезными для клиента
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        На стадии планирования производится сбор данных об инфраструктуре клиента, текущих задачах и будущих планах. Партнер определяет список проектной группы, способы сбора данных, сроки и рамки проекта.      </li>
      <li style="text-align: justify;" class="text-lg">
        Осуществляется сбор данных об установленном ПО и имеющихся лицензиях. Может потребоваться несколько способов для сбора всех необходимых данных и получения достоверной картины, включая интервью сотрудников и анализ внутренних документов.      </li>
      <li style="text-align: justify;" class="text-lg">
        Анализ данных предусматривает проверку на достоверность всех полученных данных об установленном и используемом ПО и имеющихся лицензиях. Производится оценка текущих подходов и политик SAM и готовятся рекомендации по улучшению в соответствии с ожиданиями клиента      </li>
      <li style="text-align: justify;" class="text-lg">
        При окончании проекта результаты, рекомендации и предложения по дальнейшим действиям представляются клиенту в кратком отчете и наборе более детальных документов.
      </li>
    </ul>
    <app-consultation-block></app-consultation-block>
  </div>
</app-section>
