<app-section [currentItem]="currentItem" [items]="items">
  <div content>
    <div class="detail-image">
      <img src="assets/audit/1.jpg">
    </div>
    <p style="text-align: justify;" class="text-lg">
      Основной целью проекта является определение актуальных рисков информационной безопасности в компании и формирование плана работ по их снижению. Работы по снижению рисков выражаются в построении оптимизированной системы защиты. Оптимизация достигается за счет решения целевых задач выработанных в ходе аудита.
    </p>
    <p style="text-align: justify;" class="text-lg">
      Второстепенная цель – выявление текущих инцидентов информационной безопасности и уровня защищенности информационных ресурсов компании. В рамках данных работ мы получаем информационный срез – “Как есть”.
    </p>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      ЗАДАЧИ ПРОЕКТА
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Формализация и структурирование информации по элементам и сервисам существующей информационной системы;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Определение основных технических, организационных и правовых рисков;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Оценка соответствия существующего уровня защиты требованиям законодательства и современным потребностям информационной безопасности;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Оценка уровня исходной защищенности и анализ информационных потоков (с применением, в том числе, и технических инструментариев).
      </li>
    </ul>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      Конечные цели (в рамках построения системы защиты)
    </p>
    <p style="text-align: justify;" class="text-lg">
      В результате внедрения проекта по комплексной защите информации в информационной системе, должны быть исключены (снижены) риски, связанные с:
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Финансовыми потерями в результате хищения (утечки) конфиденциальной и служебной информации;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Финансовыми потерями в результате злоупотребления должностными обязанностями сотрудников компании;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Потерей репутации в результате хищения (утечки) конфиденциальной и служебной информации;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Простоем информационных сервисов, связанным со злонамеренными действиями злоумышленников и непреднамеренными действиями легитимных пользователей;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Простоем информационных сервисов, связанным со случайным, либо злонамеренным ограничением доступности сервиса.
      </li>
    </ul>
    <p style="font-weight:bold; text-align: justify;" class="text-lg">
      Выгода комплексного аудита
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Формирование требований к системе защиты      </li>
      <li style="text-align: justify;" class="text-lg">
        Формирование согласованной сметы на общий комплекс работ      </li>
      <li style="text-align: justify;" class="text-lg">
        Наличие отчета с описанием бизнес рисков, монетизация рисков      </li>
      <li style="text-align: justify;" class="text-lg">
        Пилотирование технических решений      </li>
    </ul>
    <app-consultation-block></app-consultation-block>
  </div>
</app-section>
