  <div class="col-md-12">
    <div class="styled-block front">
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <h2>Консультация по услугам</h2>
          <span>Менеджеры компании с радостью ответят на ваши вопросы и произведут расчет стоимости услуг и подготовят индивидуальное коммерческое предложение.</span>						</div>
        <div class="col-md-3 col-sm-3" style="height: 76px; line-height: 76px;">
          <app-button [reverseColor]="true" [text]="'Задать вопрос'"></app-button>
      </div>
    </div>
  </div>
</div>
