  <div class="col-md-12">
    <div class="styled-block front">
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <h2>Тестирование на проникновение</h2>
          <span>Заполните анкету и получите расчет стоимости теста на проникновение (Pentest).</span>
        </div>
        <div class="col-md-3 col-sm-3" style="height: 76px; line-height: 76px;">
          <app-button (click)="onForm($event)" [reverseColor]="true" [text]="'Оставить заявку'"></app-button>
      </div>
    </div>
  </div>
</div>
