<app-section [currentItem]="currentItem" [items]="items">
  <div content>
    <div class="detail-image">
      <img src="assets/penetration/1.jpg">
    </div>
    <p style="text-align: justify;" class="text-lg text-italic">
      На слуху постоянные взломы российских компаний различными хакерскими атаками? Живете надеждами миновать их участь?
    </p>
    <p style="text-align: justify;" class="text-lg text-italic">
      Нет уверенности на сколько защищена ваша компания?
    </p>
    <p style="text-align: justify;" class="text-lg text-italic">
      Финансовые потери от взлома могут поставить крест на вашей организации всего за один день?
    </p>
    <div class="row">
      <div class="col-md-4">
        <div class="stat-item">
          <img src="assets/penetration/2.png">
        </div>
      </div>
      <div class="col-md-4">
        <div class="stat-item">
          <img src="assets/penetration/3.png">
        </div>
      </div>
      <div class="col-md-4">
        <div class="stat-item">
          <img src="assets/penetration/4.png">
        </div>
      </div>
    </div>
    <p style="text-align: justify;" class="text-lg">
      Компания Prototype оказывает услуги по анализу защищенности инфраструктуры компаний различных отраслей путем применения теста на проникновение (Pentest, пентест, penetration test).
    </p>
    <p style="text-align: justify;" class="text-lg">
      Тест на проникновение (pentest или penetration test) – это комплекс методов оценки безопасности компьютерных систем или сетей (внутреннего и внешнего периметра) средствами моделирования атаки злоумышленника.
    </p>
    <p style="text-align: justify;" class="text-lg">
      Наша компания использует методику - OSSTMM (The Open Source Security Testing Methodology Manual), которая соответствует международным стандартам качества.
    </p>
    <p style="text-align: justify; font-weight: bold" class="text-lg">
      Задачи теста на проникновения:
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Выявить уязвимости внешнего периметра и осуществить проникновение во внутреннюю инфраструктуру Заказчика;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Выявить уязвимости внутреннего периметра и получить максимальный контроль над информационной инфраструктурой предприятия;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Осуществить проникновение в периметр организации с использование социальной инженерии и целевых вредоносных программ;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Осуществить взлом сайта;
      </li>
      <li style="text-align: justify;" class="text-lg">
        Описать рекомендации по устранению выявленных уязвимостей.
      </li>
    </ul>
    <app-consultation-block></app-consultation-block>
  </div>
</app-section>
