<div class="menu-container">
  <div class="ui menu">
    <ng-container *ngFor="let item of items">
      <ng-container *ngIf="item.subitems">
        <div class="ui pointing dropdown link item" suiDropdown>
          <span class="text">{{item.title}}</span>
          <i class="dropdown icon"></i>
          <div class="menu" suiDropdownMenu>
            <ng-container *ngFor="let subitem of item.subitems">
              <ng-container *ngIf="subitem.subitems">
                <div class="item" suiDropdown>
                  <i class="dropdown icon"></i>
                  <span class="text">{{subitem.title}}</span>
                  <div class="menu" suiDropdownMenu>
                    <ng-container *ngFor="let subitem2 of subitem.subitems">
                      <div class="item">{{subitem2.title}}</div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!subitem.subitems">
                <div class="item">{{subitem.title}}</div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!item.subitems">
        <a class="item">{{item.title}}</a>
      </ng-container>
    </ng-container>
    <span class="item">
      <i class="fa fa-search"></i>
    </span>
  </div>
</div>
