<div class="menu-container">
  <div class="ui menu" >
    <div class="d-none d-md-block" *ngFor="let item of items">
      <ng-container *ngIf="item.subitems">
        <div class="ui pointing dropdown link item" suiDropdown>
          <span class="text">{{item.title}}</span>
          <i class="dropdown icon"></i>
          <div class="menu" suiDropdownMenu>
            <ng-container *ngFor="let subitem of item.subitems">
              <ng-container>
                <a [routerLink]="subitem.routerLink">
                  <div class="item">
                    <span class="text" >{{subitem.title}}</span>
                  </div>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!item.subitems">
        <a class="item" [routerLink]="item.routerLink">{{item.title}}</a>
      </ng-container>
    </div>
      <div class="d-md-none" *ngFor="let item of smallItems">
          <div class="ui pointing dropdown link item" suiDropdown>
            <span class="text">{{item.title}}</span>
            <i class="dropdown icon"></i>
            <div class="menu" suiDropdownMenu>
              <ng-container *ngFor="let subitem of item.subitems">
                <ng-container>
                  <a [routerLink]="subitem.routerLink">
                    <div class="item">
                      <span class="text" >{{subitem.title}}</span>
                    </div>
                  </a>
                </ng-container>
              </ng-container>
            </div>
          </div>
      </div>
</div>
</div>
