<form [formGroup]="form" (ngSubmit)="onFormSubmit(form)">
  <ng-container *ngFor="let task of tasks; let i = index">
    <p style="text-align: justify;" class="text-lg">
      {{task.title}}
    </p>
    <ng-container *ngIf="task.type === 'checkbox'">
      <form [formGroup]="form">
        <fieldset class="form-group" *ngFor="let option of task.options">
          <div class="form-check"  >
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [value]="option" (change)="onCheckChange($event, option, task.id)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{option.title}}</span>
            </label>
          </div>
        </fieldset>
      </form>

    </ng-container>

    <ng-container *ngIf="task.type === 'text'">
      <form [formGroup]="form">
        <div class="form-group">
          <input type="text" required class="form-control" [id]="task.id" [formControlName]="task.id">
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="task.type === 'email'">
      <form [formGroup]="form">
        <div class="form-group">
          <input type="email" required class="form-control" [id]="task.id" [formControlName]="task.id">
        </div>
      </form>

    </ng-container>

    <ng-container *ngIf="task.type === 'radio'">
      <form [formGroup]="form">
        <fieldset class="form-group" *ngFor="let option of task.options">
          <div class="form-check" >
            <label class="custom-control custom-radio">
              <input [id]="option.id" type="radio" class="custom-control-input" [value]="option" [formControlName]="task.id">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{option.title}}</span>
            </label>
          </div>
        </fieldset>
      </form>
    </ng-container>
  </ng-container>

  <button type="submit" [disabled]="!form.valid" class="btn btn-default">Отправить заявку</button>
</form>
<h1> Стоимость: {{sum}}</h1>
