<app-section [currentItem]="currentItem" [items]="items">
  <div content>
    <div class="detail-image">
      <img src="assets/hosting/1.png">
    </div>
    <p style="text-align: justify;" class="text-lg">
      Последние несколько лет участились случаи целенаправленных атак на официальные сайты субъектов и муниципалитетов Российской Федерации. Так, в 2015 году был подвержен атаке палестинскими хакерами сайт, посвященный 300-летию города Омска, на сайте была размещена запрещенная информация экстремистского характера. *      </p>
    <p style="text-align: justify;" class="text-lg">
      Следует отметить, что такие сайты являются государственными информационными ресурсами и информационными системами общего пользования, а вся информация, размещенная на них, является официальной. Для дискредитации властей или реализации преступных действий может быть реализован заказ на взлом информационного ресурса.
    </p>
    <p style="text-align: justify;" class="text-lg">
      Для минимизации рисков взлома и в соответствии с требованиями к ГИС сайт должен располагаться на аттестованной площадке оператора или на аттестованном в соответствии с требованиями оператора хостинге. Требования по защите ГИС прописаны в приказе ФСТЭК России №31 от 14.03.2014 «Об утверждении Требований к обеспечению защиты информации в автоматизированных системах управления производственными и технологическими процессами на критически важных объектах, потенциально опасных объектах, а также объектах, представляющих повышенную опасность для жизни и здоровья людей и для окружающей природной среды».    </p>
    <p style="text-align: justify;" class="text-lg">
      С целью реализации этих требований компания Prototype и ООО «Центр технологий виртуализации» (CloudPRO), предлагают услугу хостинга сайта в центре обработки данных, аттестованном в соответствии с требованиями безопасности, предъявляемым к государственным информационным системам третьего класса защищенности, обеспечивается 3 уровень защищенности персональных данных, что соответствует требованиям нормативной документации по безопасности информации ФСТЭК России. По требованию проводим аттестацию сегмента ЦОД в соответствии с требованиями безопасности, предъявляемым к государственным информационным системам первого класса защищенности, обеспечивается 1 уровень защищенности персональных данных.    </p>
    <p style="font-weight: bold; text-align: justify;" class="text-lg">
      Наши преимущества:
    </p>
    <ul>
      <li style="text-align: justify;" class="text-lg">
        Осуществление полного комплекса работ по защите сайта от теста на проникновение до размещения на аттестованном хостинге;      </li>
      <li style="text-align: justify;" class="text-lg">
        Использование высокотехнологичных решений класса WAF (Web application firewall) для защиты от целенаправленных атак на сайты;      </li>
      <li style="text-align: justify;" class="text-lg">
        Подбор персональных сервисов под проект размещения сайта;      </li>
      <li style="text-align: justify;" class="text-lg">
        Полное соответствие требования законодательства.      </li>
    </ul>
    <p style="text-align: justify;" class="text-lg">
      При необходимости мы осуществляем полный комплекс работ по подготовки ГИС сайта к аттестации и переводу в аттестованный хостинг.
    </p>
    <p style="text-align: justify;" class="text-lg">
      По запросу мы можем разместить в нашем аттестованном ЦОД любую Вашу информационную систему. В Этом случае все работы по защите информации, обеспечению безопасность и отказоустойчивости информационной системы мы берем на себя.
    </p>
    <p style="font-weight:bold;text-align: justify;" class="text-lg">
      Информация о компании Prototype
    </p>
    <p style="text-align: justify;" class="text-lg">
      Компания Prototype работает на рынке защиты информации более 5 лет. При работе с заказчиками используется комплексный подход по обеспечению защиты информации – от аудита и анализа защищенности информационной среды предприятия до аттестации информационных систем.
    </p>
    <p style="text-align: justify;" class="text-lg">
      За время работы компания Prototype реализовала проекты по защите информации в таких организациях как АО «Новосибирский Авиаремонтный Завод», Администрация Томской области, ПАО «Томская Распределительная Компания», ОАО «Новосибирскэнергосбыт», ТХ «Сибирский Гигант» и многих других.    </p>
    <p style="text-align: justify;" class="text-lg">
      Компания Prototype обладает наивысшими партнерскими статусами ведущих производителей средств защиты информации, таких как Код Безопасности, InfoWatch, ИнфоТекс, Лаборатория Касперского, Microsoft, Fortigate, Entensys и многих других.    </p>
    <p style="text-align: justify;" class="text-lg">
      Компания обладает всеми необходимыми лицензиями ФСТЭК и ФСБ России.     </p>
    <app-consultation-block></app-consultation-block>
  </div>
</app-section>
