.detail-image {
  float: none;
  margin: 0 auto 20px;
  padding: 0;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  & img {
    vertical-align: top;
    display: inline-block;
    @media only screen and (max-width: 767px) {
      max-height: 100%;
      max-width: 100%;

    }
  }
}

.text-lg {
  font-size: 16px;
}

.text-italic {
  font-style: italic;
}
